.container-header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B967C7;
    color: white;
    border-radius: 0px;
    height: 60px;
}

.icon-planet {
    font-size: 40px; /* Ajuste o tamanho conforme necessário */
}